<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>Listing Players - baseball</title>
				<!-- BootStrap の CDN -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>Listing Players</h1>
				<table class="table">

					<thead>
						<tr>
							<th>ID</th>
							<th>名前</th>
							<th>年齢</th>
							<th>チーム名</th>
							<th>守備位置</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="player:${players}" th:object="${player}">
							<td th:text="*{id}"></td>
							<td th:text="*{name}"></td>
							<td th:text="*{age}"></td>
							<td th:text="*{team}"></td>
							<td th:text="*{position}"></td>
							<td><a class="btn btn-default btn-xs" th:href="@{/players/{id}(id=*{id})}">参照</a></td>
							<td><a class="btn btn-default btn-xs" th:href="@{/players/{id}/edit(id=*{id})}">編集</a></td>
							<td>
								<form th:action="@{/players/{id}(id=*{id})}" th:method="delete">
									<input class="btn btn-default btn-xs" type="submit" value="削除" />
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			<a class="btn btn-default" href="/players/new">新規作成</a>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	</body>
</html>